<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/login.css">

  <title>Home</title>
</head>

<body>



  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
                <h3>Forgot Password ?</h3>
                <p class="mb-4">Cryptocurrency Tracker</p>
              </div>
              <form action="/reset-password" method="post">
                <div class="form-group first">
                  <label for="username"></label>
                  <input type="text" class="form-control" name="username" id="username" placeholder="Enter Your email">

                </div>


                <div class="d-flex mb-5 align-items-center">

                </div>
                <button type="submit" name="button" class="btn btn-block btn-primary">Send OTP</button>


              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


  <!-- <script src="js/jquery-3.3.1.min.js"></script> -->
  <!-- <script src="js/popper.min.js"></script> -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <script src="script/login_main.js"></script>
</body>

</html>
