<%- include("partials/header")%>

<div class="" style="margin-top:6rem;text-align:center;">
  <h2><strong>Latest news in CryptoCurrency Market</strong></h2>
</div>
<div class="" style="margin-top:4rem;">
  <!-- <rssapp-wall id="thftIiEQoPFsnAsi"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script> -->
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-ee2162db-ccc8-4ece-aee5-d316e9a89b02"></div>
</div>
